<a href="https://colab.research.google.com/github/IsaacMrSmile/Aprendiendo-Machine-Learning/blob/main/Introduccion_a_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Las variables

## Manejo de Strings en Python

In [ ]:
string = "Hola a todos!"
string1 = "Soy un Pokemon"
string2 = "Hola"
print(string[7])

In [ ]:
nuevostring = string + string1
print(nuevostring)

In [ ]:
print(string[6:12])

In [ ]:
stringconespacios ="   Hola , ¿ ves los espacios?   "
print(len(stringconespacios))

In [ ]:
if string [0:4] == string2:
    print("Los elementos son iguales")
else:
    print("Los elementos no son iguales")

In [ ]:
print(string2.lower())
print(string2.upper())
print(string2.replace("Ho", "Koa"))

## **Listas**

Que es una lista?

In [ ]:
listanumerica = [1, 2, 3, 4]
listastring = ["Peras", "Manzanas", "Plantanos"]
listacombinada = ["Peras", 2, "Sandia", 3]
L1 = list(range(10)) # range permite generar un conjunto de valores

In [ ]:
print(listanumerica)
print(listastring)
print(listacombinada)
print(L1)

## Uso de "range" y Generacion de listas

In [ ]:
L2= list(range(0, 20, 2))
print(L2)

In [ ]:
L3= list(range(0, 100, 3))
print(L3)

## **Metodos Comunes de crear Listas**

In [ ]:
L4 =  list(range(0 , 11, 1))
print(L4)

In [ ]:
L4.append(12) # añadir un valor al final de la lista
print(L4)

In [ ]:
L4.extend([12,15])
print(L4)

In [ ]:
L4.remove(12)
print(L4)

In [ ]:
print(L4.index(1))

In [ ]:
print(L4.count(12))#numero de veces que se repite un valor

In [ ]:
L4.append(15) # numero de veces que se repite un valor
print(L4.count(15))

In [ ]:
L4.reverse()# darle la vuelta a la lista

In [ ]:
print(L4)

In [ ]:
type(L4)

#**Que es una Tupla?**

## **Conjunto ordenado de elementos del mismo tipo o diferentes que es inmutable**

In [ ]:
mytup = (4, 5, 6)
print(mytup)

In [ ]:
mystringtup = ("Ajedrez", "Poker", "BlackJack")
print(mystringtup)

In [ ]:
mytup = tuple('string') # convertir el elemento string a tupla, cada elemento se convierte en un string seaparada por una coma

In [ ]:
mytup

In [ ]:
mytup[0] # elegir el primer elemento de la tupla

In [ ]:
tup_compuesta = ('Hola', [1, 2, 3], True)

In [ ]:
tup_compuesta

In [ ]:
tup_compuesta[0] = 'adios' # cambiar la palabra "hola" por "adios", sale error porque no se puede modificar

In [ ]:
tup_compuesta[1].append("Bienvenido al curso de DataSciencie") # añadir dentro del elemento numero 1

In [ ]:
tup_compuesta

In [ ]:
nueva_tup = tup_compuesta + ('Bill Gates', [3, 2, 1], False)
print(nueva_tup)

# **Uso Tipico de Tuplas en Python**

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)] # recoerl los valores el primer elemento de cada secuencia de tuplas
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

In [ ]:
num_of_BillGates = ('BillGates', 'Elon Musk', 'BillGates', 'Jack Ma')
num_of_BillGates.count('BillGates') #contar el numero de veces la palabra aparece en la tupla